:root {
  --white: #FFFFFF;
  --secondary-white: #DFDFDF;
  --secondary-purple: #5E20A4;
  --grey: #3D3D3D;
  --primary-green: #00A870;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

h2 {
  font-weight: 500;
  font-size: 1.75;
  line-height: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.75;
}

span {
  color: var(--secondary-purple);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-decoration: underline;
}

.headerContainer {
  background-image: url(resources/banner_image.png), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
  background-size: cover;
  height: 38.5rem;
  width: 100%;
}
   
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav, .rightSideNav span {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  color: var(--white);
}

.leftSideNav {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

.rightSideNav {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.938rem;
  margin-right: 1.875rem;
}

.rightSideNav button {
  background: var(--primary-green);
  border-radius: 0.25rem;
  border: none;
  padding: 0.8rem;
  width: 15rem;
  text-align: center;
  color: var(--white);
}

.headerContentContainer {
  height:100%;
  margin-top: -2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerImage {
  margin-right: 17%;
  height: 18.125rem;
  width: 19.75rem;
  margin-bottom: 1rem;
}

.hapuLogo{
  width: 48px;
  height: 64px;
}

.content {
  color: var(--white);
  width: 52%;
  margin: 9%;
}
.title {
  font-weight: 500;
  width: 80%;
  font-size:2.5rem;
  line-height: 3rem;
  letter-spacing: -1px;
}
    
.description {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  width: 95%;
  line-height: 1.5rem;
  margin-top: -1.8rem;
}
  
.playText {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.playerContainer {
  display: flex;
  gap: 1rem;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 7rem;
  
  gap: 0.6rem;
  background: var(--white);
  border: 1px solid var(--secondary-white);
}

.profileContainer p {
  line-height: 1.5rem;
}

.profileContainer img {
  width: 3.5rem;
}

.listContainer {
  display:flex;
  flex-direction: row;
  list-style-type: none;
  justify-content:space-between;
  width: 25rem;
}


.mainContainer {
  background: #F2F2F2;
}

.nannyShareMackbook {
  width: 36.5rem;
  height: 24.5rem;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 4rem;
}

.sectionContent {
  grid-column: span 1;
  margin-left: 10rem;
}

.sectionContent h2 {
  width: 60%;
  font-size: 28px;
  line-height: 32px;
}

.sectionContent p {
  line-height: 1.5rem;
  width: 90%;
}

.imageSection {
  grid-column: span 1;
}

hr {
  width: 55%;
}


.secondSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondSectionContainer h2 {
  padding-top: 2rem;
  font-size: 1.375rem;
}

.secondSectionContainer p {
  margin-top: -0.5rem;
  font-size: 1.125rem;
  line-height: 2rem;
}

form {
  padding: 3rem;
  display: flex;
  gap: 0.5rem;
}

.input {
  background: var(--white);
  border: 1px solid var(--secondary-white);
  box-sizing: border-box;
  border-radius: 0.25;
  padding: 0.7rem;
  width: 14.5rem;
  height: 3rem;
}

.secondSectionContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-green);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem;
  width: 6rem;
  height: 3rem;
}